html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
}

.boxes {
    height: 15vh;
    width: 100%;
}

.box1 div {
    height: 95%;
    width: 5%;
    background: #4286f4;
}

.box1 {
    background: lightgray;
    padding: 16px 32px 16px 32px;
}
.box2 {
    height: 30vh;
    width: 100%;
    background: white;
    padding: 16px 300px 16px 300px;
}

.box3 {
    background: #4286f4;
}

.box4 {
    background: lightseagreen;
}

.box5 {
    background: greenyellow;
}

.box6 {
    background: yellow;
    display: inline-block;
}

.box2 p {
    text-align: center;
    margin-top: 45px;
    font-size: 18px;
}

