.main_header {
    height: 50px;
    width: 100%;
    background: #555;
}

.box {
    height: 90vh;
    width: 10%;
    background: #999;
    float: left;
}

.middle_box {
    width:80%;
    background: lightseagreen;
}

.top {
    width: 100%;
    background: #fff;
    height: 85%;
}

.bottom {
    height: 15%;
    width: 100%;
    background: #000;
}